:root {
    --primary-color: #007c91;
    --secondary-color: #222;
    --text-color: #222;
    --bg-color: #ffffff;
    --font-main: Arial, sans-serif;
    --spacing: 20px;
    --radius: 10px;
}

body {
    margin: 0;
    font-family: var(--font-main);
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    background: var(--secondary-color);
    color: white;
    padding: 15px;
}

.container {
    width: 90;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul li {
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 16px;
}

nav a:hover {
    color: var(--primary-color);
}

.layout {
  display: flex;
  gap: 20px;
  padding: 20px;
}

main {
  flex: 3;
}

aside {
  flex: 1;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0,1);
    transition: transform 0.2s ease;
}

.card-content {
    padding: 15px;
}

.card-content {
    margin: 0 0 10px;
}

.card-content p {
    color: #444;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 20px;
  font-size: 16px;
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: var(--radius);
}

.footer-container {
    flex-direction: row;
    justify-content: space-between;
}

.footer-links {
    flex-direction: row;
    gap: 20px;
}

.footer-links a {
    padding: 20px;
}

footer {
  border-top: 3px solid var(--primary-color);
}

/* Media queries mobile */
@media (min-width: 768px) {
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background: #f4f4f4;
    }

    header {
        background: #222;
        color: white;
        padding: 20px;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .logo {
        font-size: 24px;
        font-weight: bold;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    nav a {
        display: inline-block;
        padding: 12px 16px;
        color: white;
        text-decoration: none;
    }

    nav a:hover {
        color: var(--primary-color);
    }

    .layout {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    main, aside {
        background: white;
        padding: 20px;
        border-radius: 10px;
    }

    .card {
        display: flex;
        flex-direction: column;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 10px;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    .card-content {
        padding: 15px;
    }

    .btn {
        display: inline-block;
        margin-top: 10px;
        padding: 12px 20px;
        font-size: 16px;
        background: var(--primary-color);
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

    footer {
    background: var(--secondary-color);
    color: var(--bg-color);
    padding: var(--spacing);
    text-align: center;
      border-top: 3px solid var(--primary-color);

    }

    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer-links a {
        color: var(--bg-color);
        padding: 10px;
        text-decoration: none;
    }

    .footer-links a:hover {
        color: var(--primary-color);
    }

}